LaunchingPointSolution/PulseLeads.ConsoleTest/Service References/PulseLeadServiceClient/PulseLeadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57523/PulseLeadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FocusIT.Pulse" />
  <xs:element name="PostLead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FocusIT.Pulse" minOccurs="0" name="req" nillable="true" type="q1:PostLeadRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostLeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FocusIT.Pulse" minOccurs="0" name="PostLeadResult" nillable="true" type="q2:RespHdr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostLoanApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FocusIT.Pulse" minOccurs="0" name="req" nillable="true" type="q3:PostLoanAppRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostLoanAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FocusIT.Pulse" minOccurs="0" name="PostLoanAppResult" nillable="true" type="q4:RespHdr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>