ShortLeadForm/ShortLeadForm/Service References/PulseLeadService/PulseLeadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PulseLeadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8333/PulseLeadService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8333/PulseLeadService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8333/PulseLeadService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FocusIT.Pulse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPulseLeadService_PostLead_InputMessage">
    <wsdl:part name="parameters" element="tns:PostLead" />
  </wsdl:message>
  <wsdl:message name="IPulseLeadService_PostLead_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostLeadResponse" />
  </wsdl:message>
  <wsdl:message name="IPulseLeadService_PostLoanApp_InputMessage">
    <wsdl:part name="parameters" element="tns:PostLoanApp" />
  </wsdl:message>
  <wsdl:message name="IPulseLeadService_PostLoanApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostLoanAppResponse" />
  </wsdl:message>
  <wsdl:portType name="IPulseLeadService">
    <wsdl:operation name="PostLead">
      <wsdl:input wsaw:Action="http://tempuri.org/IPulseLeadService/PostLead" message="tns:IPulseLeadService_PostLead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPulseLeadService/PostLeadResponse" message="tns:IPulseLeadService_PostLead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostLoanApp">
      <wsdl:input wsaw:Action="http://tempuri.org/IPulseLeadService/PostLoanApp" message="tns:IPulseLeadService_PostLoanApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPulseLeadService/PostLoanAppResponse" message="tns:IPulseLeadService_PostLoanApp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPulseLeadService" type="tns:IPulseLeadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostLead">
      <soap:operation soapAction="http://tempuri.org/IPulseLeadService/PostLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostLoanApp">
      <soap:operation soapAction="http://tempuri.org/IPulseLeadService/PostLoanApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PulseLeadService">
    <wsdl:port name="BasicHttpBinding_IPulseLeadService" binding="tns:BasicHttpBinding_IPulseLeadService">
      <soap:address location="http://localhost:8333/PulseLeadService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>