LaunchingPointSolution/Service_DT/Simulator/Service References/PulseWebService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/InfoHubService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LP2.Service.Common" />
  <xs:element name="ReplyToMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="replyToEmailRequest" nillable="true" type="q1:ReplyToEmailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplyToMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReplyToMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q2:UpdateCompanyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="UpdateCompanyResult" nillable="true" type="q3:UpdateCompanyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q4:UpdateRegionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="UpdateRegionResult" nillable="true" type="q5:UpdateRegionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q6:UpdateBranchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="UpdateBranchResult" nillable="true" type="q7:UpdateBranchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q8:UpdateUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="UpdateUserResult" nillable="true" type="q9:UpdateUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProspect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q10:UpdateProspectRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProspectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="UpdateProspectResult" nillable="true" type="q11:UpdateProspectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q12:StartCampaignRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="StartCampaignResult" nillable="true" type="q13:StartCampaignResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q14:RemoveCampaignRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="RemoveCampaignResult" nillable="true" type="q15:RemoveCampaignResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteCampaignEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q16:CompleteCampaignEventRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteCampaignEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="CompleteCampaignEventResult" nillable="true" type="q17:CompleteCampaignEventResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q18:GetUserAccountBalanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="GetUserAccountBalanceResult" nillable="true" type="q19:GetUserAccountBalanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q20:UpdateCreditCardRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="UpdateCreditCardResult" nillable="true" type="q21:UpdateCreditCardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q22:GetCreditCardRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="GetCreditCardResult" nillable="true" type="q23:GetCreditCardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q24:AddToAccountRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="AddToAccountResult" nillable="true" type="q25:AddToAccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReassignProspect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q26:ReassignProspectRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReassignProspectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="ReassignProspectResult" nillable="true" type="q27:ReassignProspectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncMarketingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="err" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncMarketingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncMarketingDataResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="err" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q28:GenerateReportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="GenerateReportResult" nillable="true" type="q29:GenerateReportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTImportLoans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q30:DT_ImportLoansRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTImportLoansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="DTImportLoansResult" nillable="true" type="q31:DT_ImportLoansResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTGetStatusDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q32:DT_GetStatusDatesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTGetStatusDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="DTGetStatusDatesResult" nillable="true" type="q33:DT_GetStatusDatesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTSubmitLoan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q34:DT_SubmitLoanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTSubmitLoanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="DTSubmitLoanResult" nillable="true" type="q35:DT_SubmitLoanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWCF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWCFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWCFResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartUserImportService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q36:StartUserImportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartUserImportServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="StartUserImportServiceResult" nillable="true" type="q37:StartUserImportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopUserImportService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q38:StopUserImportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopUserImportServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="StopUserImportServiceResult" nillable="true" type="q39:StopUserImportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportADUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q40:ImportADUsersRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportADUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="ImportADUsersResult" nillable="true" type="q41:ImportADUsersResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateADUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q42:UpdateADUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateADUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="UpdateADUserResult" nillable="true" type="q43:UpdateADUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointManagerStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q44:GetPointMgrStatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointManagerStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="GetPointManagerStatusResult" nillable="true" type="q45:GetPointMgrStatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartPointImportService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q46:StartPointImportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartPointImportServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="StartPointImportServiceResult" nillable="true" type="q47:StartPointImportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopPointImportService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q48:StopPointImportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopPointImportServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="StopPointImportServiceResult" nillable="true" type="q49:StopPointImportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportAllLoans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q50:ImportAllLoansRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportAllLoansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="ImportAllLoansResult" nillable="true" type="q51:ImportAllLoansResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportLoans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q52:ImportLoansRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportLoansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="ImportLoansResult" nillable="true" type="q53:ImportLoansResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportLoanRepNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q54:ImportLoanRepNamesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportLoanRepNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="ImportLoanRepNamesResult" nillable="true" type="q55:ImportLoanRepNamesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportCardex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q56:ImportCardexRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportCardexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="ImportCardexResult" nillable="true" type="q57:ImportCardexResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q58:GetPointFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="GetPointFileResult" nillable="true" type="q59:GetPointFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q60:MoveFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="MoveFileResult" nillable="true" type="q61:MoveFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisposeLoan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q62:DisposeLoanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisposeLoanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="DisposeLoanResult" nillable="true" type="q63:DisposeLoanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtendRateLock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q64:ExtendRateLockRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtendRateLockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="ExtendRateLockResult" nillable="true" type="q65:ExtendRateLockResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEstCloseDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q66:UpdateEstCloseDateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEstCloseDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="UpdateEstCloseDateResult" nillable="true" type="q67:UpdateEstCloseDateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q68:UpdateStageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="UpdateStageResult" nillable="true" type="q69:UpdateStageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReassignLoan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q70:ReassignLoanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReassignLoanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="ReassignLoanResult" nillable="true" type="q71:ReassignLoanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReassignContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q72:ReassignContactRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReassignContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="ReassignContactResult" nillable="true" type="q73:ReassignContactResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q74:AddNoteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="AddNoteResult" nillable="true" type="q75:AddNoteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBorrower">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q76:UpdateBorrowerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBorrowerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="UpdateBorrowerResult" nillable="true" type="q77:UpdateBorrowerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoanInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q78:UpdateLoanInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoanInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="UpdateLoanInfoResult" nillable="true" type="q79:UpdateLoanInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q80:CreateFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="CreateFileResult" nillable="true" type="q81:CreateFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q82:GenerateWorkflowRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="GenerateWorkflowResult" nillable="true" type="q83:GenerateWorkflowResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDueDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q84:CalculateDueDatesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDueDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="CalculateDueDatesResult" nillable="true" type="q85:CalculateDueDatesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q86:SendEmailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="SendEmailResult" nillable="true" type="q87:SendEmailResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreviewEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="req" nillable="true" type="q88:EmailPreviewRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreviewEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/LP2.Service.Common" minOccurs="0" name="PreviewEmailResult" nillable="true" type="q89:EmailPreviewResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEmailQue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEmailQueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessEmailQueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessLoanRules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessLoanRulesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AcknowledgeAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentLoanAlertId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcknowledgeAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcknowledgeAlertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReplies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepliesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRepliesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>