LaunchingPointSolution/LPWeb_SP/LPWeb/Service References/LP_Service/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FocusIT.Pulse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FocusIT.Pulse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://focpds1164:8731/InfoHubService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PostLeadRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BorrowerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BorrowerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BorrowerMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckDuplicate" type="xs:boolean" />
      <xs:element minOccurs="0" name="CoBorrowerBusinessPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoBorrowerCellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoBorrowerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoBorrowerEmployers" nillable="true" type="tns:ArrayOfEmployment" />
      <xs:element minOccurs="0" name="CoBorrowerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoBorrowerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoBorrowerMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoBorrowerOtherIncome" nillable="true" type="tns:ArrayOfOtherIncome" />
      <xs:element minOccurs="0" name="CoBorrowerPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoBorrowerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditRanking" type="tns:CreditRanking" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employment" nillable="true" type="tns:ArrayOfEmployment" />
      <xs:element minOccurs="0" name="HaveDependents" type="xs:boolean" />
      <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HousingStatus" type="tns:Housing_Status" />
      <xs:element minOccurs="0" name="IncludeEscrows" type="xs:boolean" />
      <xs:element minOccurs="0" name="InterestOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LeadId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeadSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiquidAssets" nillable="true" type="tns:ArrayOfLiquidAssets" />
      <xs:element minOccurs="0" name="LoanAmount" type="xs:int" />
      <xs:element minOccurs="0" name="LoanOfficerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanOfficerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanProgram" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailingAddress" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="MonthlyPayment" type="xs:decimal" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupancyType" type="tns:OccupancyType" />
      <xs:element minOccurs="0" name="OtherIncome" nillable="true" type="tns:ArrayOfOtherIncome" />
      <xs:element minOccurs="0" name="PreferredContactMethod" type="tns:PreferredContactMethod" />
      <xs:element minOccurs="0" name="PropertyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyValue" type="xs:int" />
      <xs:element minOccurs="0" name="Property_City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Property_State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Property_Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Property_Zip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurposeOfLoan" type="tns:PurposeOfLoan" />
      <xs:element minOccurs="0" name="Rate" type="xs:decimal" />
      <xs:element minOccurs="0" name="RentAmount" type="xs:int" />
      <xs:element name="RequestHeader" nillable="true" type="tns:Lead_ReqHdr" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Term" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostLeadRequest" nillable="true" type="tns:PostLeadRequest" />
  <xs:complexType name="ArrayOfEmployment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employment" nillable="true" type="tns:Employment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployment" nillable="true" type="tns:ArrayOfEmployment" />
  <xs:complexType name="Employment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="BusinessType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndMonth" type="xs:int" />
      <xs:element minOccurs="0" name="EndYear" type="xs:int" />
      <xs:element minOccurs="0" name="MonthlySalary" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthsInProfession" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelfEmployed" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartMonth" type="xs:int" />
      <xs:element minOccurs="0" name="StartYear" type="xs:int" />
      <xs:element minOccurs="0" name="VerifyYourTaxes" type="xs:boolean" />
      <xs:element minOccurs="0" name="YearsInProfession" type="xs:int" />
      <xs:element minOccurs="0" name="YearsOnWork" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employment" nillable="true" type="tns:Employment" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfOtherIncome">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherIncome" nillable="true" type="tns:OtherIncome" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOtherIncome" nillable="true" type="tns:ArrayOfOtherIncome" />
  <xs:complexType name="OtherIncome">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtherIncome" nillable="true" type="tns:OtherIncome" />
  <xs:simpleType name="CreditRanking">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Excellent">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VeryGood">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Good">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fair">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Poor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CreditRanking" nillable="true" type="tns:CreditRanking" />
  <xs:simpleType name="Housing_Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Own" />
      <xs:enumeration value="Rent" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Housing_Status" nillable="true" type="tns:Housing_Status" />
  <xs:complexType name="ArrayOfLiquidAssets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LiquidAssets" nillable="true" type="tns:LiquidAssets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLiquidAssets" nillable="true" type="tns:ArrayOfLiquidAssets" />
  <xs:complexType name="LiquidAssets">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="NameOfAccount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LiquidAssets" nillable="true" type="tns:LiquidAssets" />
  <xs:simpleType name="OccupancyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PrimaryResidence">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SecondHome">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InvestmentProperty">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OccupancyType" nillable="true" type="tns:OccupancyType" />
  <xs:simpleType name="PreferredContactMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HomePhone">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BusinessPhone">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CellPhone">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Email">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PreferredContactMethod" nillable="true" type="tns:PreferredContactMethod" />
  <xs:simpleType name="PurposeOfLoan">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Purchase">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Refinance_No_Cashout">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Refinance_Cashout">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Construction">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PurposeOfLoan" nillable="true" type="tns:PurposeOfLoan" />
  <xs:complexType name="Lead_ReqHdr">
    <xs:sequence>
      <xs:element name="SecurityToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lead_ReqHdr" nillable="true" type="tns:Lead_ReqHdr" />
</xs:schema>